.top-bar {
	/*display: inline-block;
	height: 46px;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 110;
	width: 100%;
	vertical-align: middle;
	position: relative;*/
}
.qodef-vertical-align-containers .qodef-position-left {
	position: relative;
	height: 100%;
	float: left;
	z-index: 2;
}

.bg-red {
	background-color: rgba(195, 33, 43, 1);
}
