button.active {
	background-color: #ddd;
}

button.disable-button {
	border-style: dashed;
}

/*** Aesthetics ***/
/*START: ACCORDION*/
.panel {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.acc:after {
	content: "\02795";
	color: #fff;
	margin-left: 5px;
}

.acc.active:after {
	content: "\2796";
}
/*END: ACCORDION*/
