.tf-filter-item {
	display: none;
}

button.active {
	background-color: #ddd;
}

button.disable-button {
	border-style: dashed;
}

.show-item {
	display: inline-block;
}

/*** Aesthetics ***/
section {
	margin-top: 18px !important;
}
.tf-items-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tf-item {
	width: 250px;
	margin: 8px;
	background: #fff;
	padding: 2rem;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin-bottom: 2rem;
}

.chroma {
	overflow-x: auto;
	padding: 4px;
}

.panel {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.acc:after {
	content: "\02795";
	color: #fff;
	margin-left: 5px;
}

.acc.active:after {
	content: "\2796";
}

.navbtn {
	padding: 0.5rem !important;
	font-size: 90% !important;
}
.nava {
	text-transform: none;
	font-size: 90% !important;
}
