// Setting the flex properties: should go to COMPOSITION
.mhd-tiles {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	> .main-filter-col {
		flex: 1;

		@media screen and (min-width: 34.55em) {
			margin-top: get-size("1000");
		}
	}
	> .main-body-col {
		flex: 3;
	}
	/// Exceptions
	&[data-layout="reversed"] {
		flex-direction: row-reverse;
	}
}
