{{ define "main" }}
	{{ partial "single-org-banner" . }}
	<div
		class="[ flow ] [ bg-light pad-top-500 pad-bottom-500 ]"
		style="--flow-space: 4rem;"
	>
		{{ $org := .Params }}

		{{ range .Params.locations }}
			{{ $location := . }}
			<div class="box-shadow-glow wrapper" data-variant="no-padding">
				{{ partial "single-location-banner" (dict "org" $org "location" $location) }}
				<div class="[ wrapper ] [ bg-white pad-top-500 ]">
					<h2 class="gap-bottom-500">Location details</h2>
					<div class="tiles">
						<div>
							{{ partial "single-service-list" (dict "title" "CLINICAL SERVICES" "items" $location.services) }}
							{{ partial "single-service-list" (dict "title" "NON-CLINICAL SERVICES" "items" $location.non_clinical_services) }}
							{{ partial "single-service-list" (dict "title" "LANGUAGES" "items" $location.languages) }}
							{{ partial "single-service-list" (dict "title" "GENDER OF STAFF" "items" $location.staff_gender) }}
						</div>
						<div>
							{{ partial "single-service-list" (dict "title" "HOURS" "items" $location.hours_of_operation) }}
							<div>
								<h4>NEW CLIENTS</h4>
								<ul>
									<li>{{ $location.new_clients }}</li>
								</ul>
							</div>
							<div>
								<h4>SPECIAL REQUIREMENTS FOR CLIENTS</h4>
								<ul>
									{{ range $org.client_requirements }}
										<li>{{ . }}</li>
									{{ end }}
								</ul>
							</div>
							<div>
								<h4>AGE GROUPS ACCEPTED</h4>
								<ul>
									{{ range $org.age_groups }}
										<li>{{ . }}</li>
									{{ end }}
								</ul>
							</div>
							<div>
								<h4>TELE HEALTH</h4>
								<ul>
									<li>{{ $org.telehealth }}</li>
								</ul>
							</div>
							{{ partial "single-service-list" (dict "title" "ADA COMPLIANT" "items" $org.ada_compliant) }}
						</div>
					</div>
				</div>
			</div>
		{{ end }}
	</div>
{{ end }}
