{{ define "main" }}

<div class="[ wrapper key-header ] [ splitter ] [ gap-top-500 gap-bottom-500 ]">
		<h1>{{ .Params.org }}</h1>
		<aside>
			<span class="font_icons text-600">&#xe0e3;</span>
			<a href="//{{ .Params.website }}" class="[ button-cube ] [ radius ]" data-variant="ghost">
				{{ .Params.website }}
			</a>
		</aside>
</div>

<div class="[ flow ] [ bg-light pad-top-500 pad-bottom-500 ]">
	{{ $languages := .Params.languages }}
	{{ $paymentTypes := .Params.payment_types }}
	{{ $newClients := .Params.new_clients }}
	{{ $telehealth := .Params.telehealth }}

	{{ range .Params.locations }}
		{{ $location := . }}
		<div>
			<div class="[ wrapper ] [ bg-primary pad-top-500 pad-bottom-500 color-white ]">
				<div class="[ splitter ] [ text-400 ]">
					<div>
						<span class="font_icons">&#xe01f;</span>
						<span class="weight-bold">
							{{ $location.address }}
						</span>
					</div>
					<div>
						{{ with $location.boroughs }}
							<span class="font_icons">&#xe01d;</span>
							<span class="weight-bold">
								{{ index (.) 0 }}
							</span>
						{{ end }}
					</div>
					<div>
						{{ with $location.phone_number }}
							<span class="font_icons">&#xe090;</span>
							<span class="weight-bold">
								{{ . }}
							</span>
						{{ end }}
					</div>
				</div>
			</div>
			<div class="[ wrapper ] [ bg-white pad-top-500 pad-bottom-500 ]">
				<div class="tiles">	
					<div class="tile">
						<h4 class="underline pad-bottom-300">Hours of operation</h4>
						<ul>
							{{ range $location.hours_of_operation }}
								<li>{{ .day_hours }}</li>
							{{ end }}
						</ul>
					</div>
					<div class="tile">
						<h4 class="underline pad-bottom-300">Details</h4>
						<p>New clients: {{ $newClients }}</p>
						<p>Telehealth: {{ $telehealth }}</p>
						<p>Parking: {{ .parking }}</p>
						<a href="https://www.google.com/maps/dir/?api=1&destination={{ .latLng }}">directions</a>
					</div>
				</div>
				<div class="mhd-tiles">
					<div class="tile bg-light">
						<h4>Services</h4>
						<ul>
							{{ range $location.services }}
								<li>{{ . }}</li>
							{{ end }}
						</ul>
					</div>
					<div class="tile bg-light">
						<h4>Payment, insurance, or funding accepted</h4>
						<ul>
							{{ range $paymentTypes }}
								<li>{{ . }}</li>
							{{ end }}
						</ul>
					</div>
					<div class="tile bg-light">
						<h4>Languages</h4>
						<ul>
							{{ range $languages }}
								<li>{{ . }}</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{{ end }}
</div>

{{ end }}
