// Styles to mimic the AAF website elements
// Social icons styles
.social_icons {
	font-weight: normal;
	color: get-color("light");
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	justify-content: center;
	font-size: 0.8em;
}
.social_icons > * > * {
	padding: 0em 0.3em;
}
.social_icons.font_icons {
	a {
		&:hover {
			text-decoration: none;
			color: get-color("secondary");
		}
	}
}
.mhd-button-widget {
	padding: 7px 21px;
	border-radius: 5em;
}
// Main menu stylings
header {
	a {
		img {
			height: 2.5em;
		}
	}
}
// Banner background image
.bg-img-vector {
	height: 250px;
	background-image: url(/img/bgVector4.jpg);
	background-size: cover;
}
