// Styles specific to mhd website

// Setting the flex properties: should go to COMPOSITION
.mhd-tiles {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	> * {
		flex-basis: 33%;
		min-width: 16rem;
		flex-grow: 1;
	}
	> .main-filter-col {
		flex: 1;
	}
	> .main-body-col {
		flex: 4;
	}
}
/* START: Random properties from original theme */
// Item card - should go to BLOCK
.tf-item {
	width: 250px;
	margin: 8px;
	background: #fff;
	padding: 2rem;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin-bottom: 2rem;
}
// Filter toggle properties
.tf-filter-item {
	display: none;
}
.show-item {
	display: inline-block;
}
/* END: Random properties from original theme */

// Style the button that is used to open and close the collapsible content
.collapsible {
	background-color: #eee;
	border-radius: 5em;
	cursor: pointer;
	padding: 18px;
	@include apply-utility("text", "700");
}
// Add a background color to the button if it is clicked on (add the .active class with JS),
// and when you move the mouse over it (hover)
.active,
.collapsible:hover {
	background-color: #ccc;
}
// Style the collapsible content. Note: hidden by default
.content {
	display: none;
	overflow: hidden;
}
