@import 'reset';
@import 'config';

@import '../../node_modules/gorko/gorko.scss';

// Globals start
body {
  background: get-color('primary');
  @include apply-utility('font', 'base');
}

svg {
  width: 1em;
  height: 1em;
  display: inline-block;
}

h1,
h2 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size('900');
}

h2 {
  font-size: get-size('800');
}

h3 {
  font-style: italic;
  font-size: get-size('700');
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  max-width: 30ch;
}

p,
li,
blockquote,
dl {
  max-width: 70ch;
}

:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.25rem;
}

a {
  color: currentColor;
  &:hover {
    text-decoration: none;
  }
}

@include media-query('md') {
  h1 {
    font-size: get-size('1000');
  }

  h2 {
    font-size: get-size('900');
  }

  h3 {
    font-style: italic;
    font-size: get-size('800');
  }
}

// Import utilities
@import 'utilities/flow';
@import 'utilities/split-pair';
@import 'utilities/region';
@import 'utilities/wrapper';
@import 'utilities/tile__link';

// Import blocks
@import 'blocks/brand';
@import 'blocks/media';
@import 'blocks/nav';
@import 'blocks/tile';
@import 'blocks/logos';

// Import compositions
@import 'compositions/sign-up';
@import 'compositions/tiles';
@import 'compositions/hero';
@import 'compositions/intro';
