.link-pointer {
	cursor: pointer;
	border-radius: 3px;
	padding: 0.25em 0.5em;
	display: inline-block;
	&:hover {
		background: get-color("light");
		border-color: get-color("dark");
		color: get-color("primary");
	}
}
