.link-pointer {
	cursor: pointer;
	border-radius: 3px;
	padding: 0.25em 0.5em;
	display: inline-block;
	text-decoration: none;
	background: get-color("primary");
	color: get-color("light");
	&:hover {
		background: get-color("light");
		color: get-color("primary");
	}
	&[data-variant="invert"] {
		background: get-color("light");
		color: get-color("primary");
		&:hover {
			background: get-color("primary");
			color: get-color("light");
		}
	}
	&[data-variant="disabled"] {
		cursor: default;
		&:hover {
			background: get-color("primary");
			color: get-color("light");
		}
	}
}
