#map {
	margin: 2em 2em 2em 0.5em;
	height: 60vh;
	overflow: hidden;
	border-radius: 5px;
}
.marker {
	background-size: contain;
	width: 32px;
	height: 37px;
	cursor: pointer;
	display: none;
}
//.mapboxgl-popup {
//	max-width: 200px;
//}

.mapboxgl-popup-content {
	text-align: center;
	padding: 1.3em;
}
.show-map {
	display: inline-block;
}
