#map {
	margin: 2em;
	height: 60vh;
	overflow: hidden;
}
.marker {
	background-size: contain;
	width: 32px;
	height: 37px;
	cursor: pointer;
}
.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
}
