<template id="searchResultCard">
	<section
		class="[ radius ] tf-filter-item tf-item"
		data-tag=""
		data-service=""
		data-specialty=""
		data-type=""
		data-borough=""
		data-language=""
		data-payment=""
		data-ADAcompliance=""
	>
		<div
			class="color-white text-400 bg-primary pad-top-500 pad-bottom-500 pad-left-500 pad-right-500 split-pair"
		>
			<h3 class="link-pointer"></h3>
			<h4 class="link-pointer">more info ›</h4>
		</div>
		<div
			class="[ card-flex ] [ pad-top-500 pad-bottom-500 pad-left-600 pad-right-600 ]"
			data-layout="reversed"
		>
			<div class="flow" style="--flow-space:0.5rem">
				<div class="display-flex">
					<span class="[ font_icons color-secondary ] [ position-icon ]"
						>&#xe090;</span
					>
					<span class="phone"></span>
				</div>
				<div class="card-text-block">
					<span class="[ font_icons color-secondary ] [ position-icon ]"
						>&#xe0e3;</span
					>
					<span class="website link-pointer" data-variant="invert"></span>
				</div>
				<div class="display-flex">
					<span class="[ font_icons color-secondary ] [ position-icon ]"
						>&#xe01f;</span
					>
					<span class="address"></span>
				</div>
				<div class="display-flex">
					<span class="[ font_icons color-secondary ] [ position-icon ]"
						>&#x4e;</span
					>
					<div>
						<span class="weight-bold">Clinical services</span>:
						<span class="services"></span>
					</div>
				</div>
				<div class="display-flex" id="non-clinical-services-row">
					<span class="[ font_icons color-secondary ] [ position-icon ]"
						>&#x4e;</span
					>
					<div>
						<span class="weight-bold">Non-clinical services</span>:
						<span class="non-clinical-services"></span>
					</div>
				</div>
				<div class="display-flex">
					<span class="[ font_icons color-secondary ] [ position-icon ]"
						>&#x4e;</span
					>
					<div>
						<span class="weight-bold">Payment accepted</span>:
						<span class="payments"></span>
					</div>
				</div>
			</div>
			<div>
				<div class="link-pointer directions gap-top-500 lg:gap-top-0">
					<span class="font_icons">&#xe03c;</span>
					<span class="weight-bold"> Get directions </span>
				</div>
			</div>
		</div>
	</section>
</template>
