<template id="searchResultCard">
	<section
		class="[ radius ] tf-filter-item tf-item"
		data-tag=""
		data-borough=""
		data-language=""
		data-payment=""
		data-ADAcompliance=""
	>
		<div class="color-white text-400 bg-primary pad-top-500 pad-bottom-500 pad-left-500 pad-right-500 split-pair">
			<h3 class="link-pointer"></h3>
			<h4 class="link-pointer">more info ›</h4>
		</div>
		<div class="pad-top-300 pad-bottom-300 pad-left-500 pad-right-500">
			<div><span class="weight-bold">Address</span>: <span class="address"></span></div>
			<div><span class="weight-bold">Phone</span>: <span class="phone"></span></div>
			<div><span class="weight-bold">Website</span>: <span class="website link-pointer color-secondary"></span></div>
			<div><span class="weight-bold">Services</span>: <span class="services"></span></div>
			<div><span class="weight-bold">Payment accepted</span>: <span class="payments"></span></div>
			<div class="link-pointer color-white bg-primary directions">
				<span class="font_icons">&#xe03c;</span>
				<span class="weight-bold">
					Get directions
				</span>
			</div>
		</div>
	</section>
</template>