<template id="searchResultCard">
	<section
		class="[ radius ] tf-filter-item tf-item"
		data-tag=""
		data-service=""
		data-nonClinicalService=""
		data-staffGender=""
		data-ageGroup=""
		data-specialty=""
		data-type=""
		data-borough=""
		data-language=""
		data-payment=""
		data-ADAcompliance=""
	>
		<div
			class="text-400 pad-top-500 pad-bottom-500 pad-left-500 pad-right-500 split-pair" 
			id="provider-header"
		>
			<div>
				<h3 class="link-pointer-basic"></h3>
				<h5 class="b-legal provider-type"></h5>
			</div>
			<h4 class="link-pointer-basic">more info ›</h4>
		</div>
		<div
			class="[ card-flex ] [ pad-top-500 pad-bottom-500 pad-left-600 pad-right-600 ]"
			data-layout="reversed"
		>
			<div class="flow" style="--flow-space:0.5rem">
				<div class="display-flex" id="address-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#xe01d;</span
					>
					<span class="address"></span>
				</div>
				<div class="display-flex" id="phone-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#xe090;</span
					>
					<span class="phone"></span>
				</div>
				<div class="display-flex" id="email-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#xe010;</span
					>
					<span class="email"></span>
				</div>
				<div class="display-flex" id="website-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#xe0e3;</span
					>
					<span class="website link-pointer handle-long-url" data-variant="invert"></span>
				</div>
				<div class="display-flex" id="clinical-services-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#x4e;</span
					>
					<div>
						<span class="weight-bold">{{ partial "functions/forestryLabel" "locations.services" }}</span>:
						<span class="services"></span>
					</div>
				</div>
				<div class="display-flex" id="non-clinical-services-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#x4e;</span
					>
					<div>
						<span class="weight-bold">{{ partial "functions/forestryLabel" "locations.non_clinical_services" }}</span>:
						<span class="non-clinical-services"></span>
					</div>
				</div>
				<div class="display-flex" id="trainings-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#x4e;</span
					>
					<div>
						<span class="weight-bold">{{ partial "functions/forestryLabel" "locations.trainings" }}</span>:
						<span class="trainings"></span>
					</div>
				</div>
				<div class="display-flex" id="credentials-row">
					<span class="[ font_icons color-icon ] [ position-icon ]"
						>&#x4e;</span
					>
					<div>
						<span class="weight-bold">{{ partial "functions/forestryLabel" "locations.credentials" }}</span>:
						<span class="credentials"></span>
					</div>
				</div>
			</div>
			<div>
				<div class="link-pointer directions gap-top-500 lg:gap-top-0">
					<span class="font_icons">&#xe03c;</span>
					<span class="weight-bold"> Get directions </span>
				</div>
			</div>
		</div>
	</section>
</template>
