{{ $filter := .filter }}

<button class="acc button" onclick="toggleAcc(this)">{{ .filter }}s</button>
<div class="panel">
  <button xx class="" id="{{ print `selectAll` .filter  }}" onclick="htf.showAll({{ .filter }})">
    All {{ $filter }}s
  </button>
  {{ range .allContent }}
    {{ if .Term }}
      <button xx class="{{ $filter }}-button" id="{{ $filter }}-{{ .Term | replaceRE "[.]" "_" | urlize }}" onclick="htf.checkFilter('{{ .Term | replaceRE "[.]" "_" | urlize }}', '{{ $filter }}-')">
        <span>{{.Term | humanize | title }}</span>
        <span id="s{{ $filter }}-{{ .Term | urlize }}"> -count-</span> | <span id="c{{ $filter }}-{{ .Term | urlize }}"> -count-</span>
      </button>
    {{ end }}
  {{ end }}
  {{ if gt .noCount 0 }}
  <button xx class="{{ $filter }}-button" id="{{ $filter }}-no-{{ $filter }}" onclick="htf.checkFilter('no-{{ $filter }}', '{{ $filter }}-')">
    No {{ $filter }}s <span id="s{{ $filter }}-no-{{ $filter }}"> -count-</span> | <span id="c{{ $filter }}-no-{{ $filter }}"> -count-</span>
  </button>
  {{ end }}
</div>