{{ $filter := .filter }}
{{ $selectAll := print `selectAll` $filter }}

<button
	class="acc button split-pair"
	onclick="toggleAcc(this)"
	data-size="full-width"
	style="--split-pair-space:0rem;--button-padding:0.5rem;"
>
	{{ pluralize $filter }}
</button>
<ul class="panel">
	<li>
		<button id="{{ $selectAll }}" onclick="htf.showAll({{ $filter }})">
			All {{ pluralize $filter }}
		</button>
	</li>
	{{ range .allContent }}
		{{ if . }}
			{{ $termURLize := . | replaceRE "[.]" "_" | urlize }}
			<li>
				<button
					class="{{ $filter }}-button"
					id="{{ $filter }}-{{ $termURLize }}"
					onclick="htf.checkFilter('{{ $termURLize }}', '{{ $filter }}-')"
				>
					<span>{{ . | humanize | title }}</span>
					<span id="s{{ $filter }}-{{ $termURLize }}">-count-</span> |
					<span id="c{{ $filter }}-{{ $termURLize }}">-count-</span>
				</button>
			</li>
		{{ end }}
	{{ end }}
	<li>
		<button
			class="{{ $filter }}-button"
			id="{{ $filter }}-no-{{ $filter }}"
			onclick="htf.checkFilter('no-{{ $filter }}', '{{ $filter }}-')"
		>
			No {{ pluralize $filter }}
			<span id="s{{ $filter }}-no-{{ $filter }}">-count-</span> |
			<span id="c{{ $filter }}-no-{{ $filter }}">-count-</span>
		</button>
	</li>
</ul>
