<div class="bg-dark pad-top-500 pad-bottom-500">
	<div class="wrapper footer-tiles">
		<div class="pad-left-300 pad-right-300 pad-top-300 pad-bottom-300">
			<img width="1" height="1" src="/img/logo/AAF-Logo-White.svg" class="image pad-bottom-500" alt="" loading="lazy" />
			<p class="color-slate">
				The Asian American Federation’s mission is to raise the influence and well-being of the pan-Asian American
				community through research, policy advocacy, public awareness and organizational development.
			</p>
		</div>
		<div class="pad-left-300 pad-right-300 pad-top-400 pad-bottom-300">
			<p class="color-slate">Manhattan Office</p>
			<p class="color-slate">120 Wall Street, 9th Floor, New York, NY</p>
			<p class="color-slate">10005</p>
		</div>
		<div class="pad-left-300 pad-right-300 pad-top-1000">
			<p class="color-slate">© 2020 Asian American Federation</p>
			<a class="color-slate" href="https://www.freepik.com/vectors/background">Background vector created by Harryarts - www.freepik.com</a>
		</div>
	</div>
</div>
