<header role="banner" class="bg-primary pad-top-300 pad-bottom-300">
	<div class="top-bar wrapper split-pair">
		<div class="top-bar-left"><p class="color-white">Empowering New York’s Asian American Community Since 1989</p></div>
		<div class="top-bar-right">
			<div class="widget qodef-social-icons-group-widget text-align-left">
				<a
					class="qodef-social-icon-widget-holder qodef-icon-has-hover"
					href="https://www.facebook.com/AsianAmericanFederation"
					target="_blank"
				>
					<span class="qodef-social-icon-widget social_facebook"></span>
				</a>
				<a
					class="qodef-social-icon-widget-holder qodef-icon-has-hover"
					href="https://twitter.com/AAFederation"
					target="_blank"
				>
					<span class="qodef-social-icon-widget social_twitter"></span>
				</a>
				<a
					class="qodef-social-icon-widget-holder qodef-icon-has-hover"
					href="https://www.instagram.com/aafederation/"
					target="_blank"
				>
					<span class="qodef-social-icon-widget social_instagram"></span>
				</a>
				<a
					class="qodef-social-icon-widget-holder qodef-icon-has-hover"
					href="https://www.youtube.com/user/aafederation"
					target="_blank"
				>
					<span class="qodef-social-icon-widget social_youtube"></span>
				</a>
				<a
					class="qodef-social-icon-widget-holder qodef-icon-has-hover"
					href="https://www.linkedin.com/company/asian-american-federation/"
					target="_blank"
				>
					<span class="qodef-social-icon-widget social_linkedin"></span>
				</a>
			</div>
			<div class="widget">
				<a
					itemprop="url"
					href="https://www.classy.org/give/253719/#!/donation/checkout"
					target="_blank"
					class="qodef-button-widget bg-white color-primary font-serif"
					data-hover-color="#ffffff"
					data-hover-bg-color="#c3212b"
					data-hover-border-color="#ffffff"
				>
					<span class="qodef-btn-text">DONATE</span>
				</a>
			</div>
		</div>
	</div>
</header>
