<div
	class="[ filter-refine-pills ] [ text-rtl gap-right-500 gap-bottom-300 line-height-700 z-1 ]"
></div>
<div id="map" class="[ gap-right-500 gap-left-500 gap-bottom-500 ]"></div>
<div class="gap-left-500 gap-right-500 center-content"><i>Search results displayed in alphabetical order</i></div>
<div class="mhd-tiles" id="mhd-tiles-search-result"></div>
<div class="center-content gap-bottom-major">
	<button
		class="button hide-show-more-button"
		id="show-more-button"
		onclick="htf.showMoreResults()"
	>
		Show more results
	</button>
</div>
