{{ $pages := .Site.RegularPages }}

<!--BEGIN: NON TAXONOMY FILTER SETUP-->
{{ $.Scratch.Set "ADAcompliants" (slice ) }}
{{ $.Scratch.Set "notADAcompliants" 0 }}

{{ range .Site.RegularPages }}
  {{ with .Params.ada_compliant }}
    {{ if eq ( printf "%T" . ) "bool"  }}
      {{ if ( not ( in ($.Scratch.Get "ADAcompliants") "true" ) ) }}
        {{ $.Scratch.Add "ADAcompliants" "true" }}
      {{ end }}
    {{ else if ( printf "%T" . ) "[]string" }}
      {{ range . }}
        {{ if ( not ( in ($.Scratch.Get "ADAcompliants") . ) ) }}
          {{ $.Scratch.Add "ADAcompliants" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $.Scratch.Add "notADAcompliants" 1 }}
  {{ end }}
{{ end }}
<!--END: NON TAXONOMY FILTER SETUP-->

<!--TAXONOMY COUNTS-->
{{ $tags := $.Site.Taxonomies.tags.ByCount }}
{{ $boroughs := $.Site.Taxonomies.boroughs.ByCount }}
{{ $languages := $.Site.Taxonomies.languages.ByCount }}
{{ $payments := $.Site.Taxonomies.payment_types.ByCount }}

<!--TAXONOMY NO COUNT VAR-->
{{ $.Scratch.Set "untagged" 0 }}
{{ $.Scratch.Set "noBoroughs" 0 }}
{{ $.Scratch.Set "noLanguages" 0 }}
{{ $.Scratch.Set "noPayments" 0 }}

<!--TAXONOMY NO COUNT COUNTING-->
{{ range $pages }}
  {{ with .Params.tags }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end }}
  {{ with .Params.boroughs }}{{ else }}{{ $.Scratch.Add "noBoroughs" 1 }}{{ end }}
  {{ with .Params.languages }}{{ else }}{{ $.Scratch.Add "noLanguages" 1 }}{{ end }}
  {{ with .Params.payment_types }}{{ else }}{{ $.Scratch.Add "noPayments" 1 }}{{ end }}
{{ end }}

{{ partial "filter-one.html" (dict "filter" "tag" "noCount" ($.Scratch.Get "untagged") "allContent" $tags )}}
<hr>
{{ partial "filter-one.html" (dict "filter" "borough" "noCount" ($.Scratch.Get "noBoroughs") "allContent" $boroughs )}}
<hr>
{{ partial "filter-one.html" (dict "filter" "language" "noCount" ($.Scratch.Get "noLanguages") "allContent" $languages )}}
<hr>
{{ partial "filter-one.html" (dict "filter" "payment" "noCount" ($.Scratch.Get "noPayments") "allContent" $payments )}}
<hr>
<!--BEGIN: ADA compliance-->
<button class="acc button" onclick="toggleAcc(this)">ADA Compliance</button>
<div class="panel">
	<button id="selectAllADAcompliants" onclick="htf.showAll('ADAcompliants')">
	  All Compliances
	</button>
	{{ range $.Scratch.Get "ADAcompliants" }}
	  <button class="ADAcompliant-button" id="ADAcompliant-{{ . | replaceRE "[.]" "_" | urlize }}" onclick="htf.checkFilter('true', 'ADAcompliant-')">
	    {{ . }} <span id="sADAcompliants-{{ . | replaceRE "[.]" "_" | urlize }}"> -count-</span> | <span id="cADAcompliants-{{ . | replaceRE "[.]" "_" | urlize }}"> -count-</span>
	  </button>
	{{ end }}
	{{ if gt ( $.Scratch.Get "notADAcompliants") 0 }}
	<button class="ADAcompliant-button" id="ADAcompliant-false" onclick="htf.checkFilter('false', 'ADAcompliant-')">
	  false <span id="sADAcompliants-false"> -count-</span> | <span id="cADAcompliants-false"> -count-</span>
	</button>
	{{ end }}
</div>
<hr>
<!--END: ADA compliant-->
