	<div>
	  <div><h2><span id="selectedItemCount"></span> Items</h2></div>
	  <div class="tf-items-container">      
	  {{ range .Site.RegularPages.ByPublishDate.Reverse }}
			<!--FILTER DATA DECLARATION-->
	    <div  class="tf-filter-item tf-item" 
	          data-tags="{{ with .Params.tags }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} tfuntagged{{ end }}"
	          data-boroughs="{{ with .Params.boroughs }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} no-boroughs{{ end }}"
	          data-languages="{{ with .Params.languages }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} no-languages{{ end }}"
	          data-payments="{{ with .Params.payment_types }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} no-payments{{ end }}"
	          data-section="{{ .Section }}"
	          data-authors="{{ with .Params.author }}{{ if eq ( printf "%T" . ) "string" }}{{ . | replaceRE "[.]" "_" | urlize }}{{ else if eq ( printf "%T" . ) "[]string" }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{end}}{{end}}{{else}}no-author{{end}}"
	          data-ADAcompliants="{{ with .Params.ada_compliant }}{{ . }}{{ else }}{{ false }}{{ end }}"
			>
	      <h6>{{.Section}}</h6>
	      <h4><a href="{{ .RelPermalink }}">{{ .Params.org }}</a></h4>
	      
	      <div>{{ with .Params.tags }}{{ range . }}<tag>{{ . | humanize | title }}</tag> {{ end }}{{ else }}<tag>untagged</tag>{{ end }}</div>
	      
	    </div>
	  {{ end }}
	  </div>
	</div>