{{ $pages := .Site.RegularPages }}

<!--BEGIN: NON TAXONOMY FILTER SETUP-->
{{ $.Scratch.Set "ADAcompliants" (slice ) }}
{{ $.Scratch.Set "notADAcompliants" 0 }}

{{ range .Site.RegularPages }}
  {{ with .Params.ada_compliant }}
    {{ if eq ( printf "%T" . ) "bool"  }}
      {{ if ( not ( in ($.Scratch.Get "ADAcompliants") "true" ) ) }}
        {{ $.Scratch.Add "ADAcompliants" "true" }}
      {{ end }}
    {{ else if ( printf "%T" . ) "[]string" }}
      {{ range . }}
        {{ if ( not ( in ($.Scratch.Get "ADAcompliants") . ) ) }}
          {{ $.Scratch.Add "ADAcompliants" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $.Scratch.Add "notADAcompliants" 1 }}
  {{ end }}
{{ end }}
<!--END: NON TAXONOMY FILTER SETUP-->

<!--TAXONOMY COUNTS-->
{{ $tags := $.Site.Taxonomies.tags.ByCount }}
{{ $boroughs := $.Site.Taxonomies.boroughs.ByCount }}
{{ $languages := $.Site.Taxonomies.languages.ByCount }}
{{ $payments := $.Site.Taxonomies.payment_types.ByCount }}

<!--TAXONOMY NO COUNT VAR-->
{{ $.Scratch.Set "untagged" 0 }}
{{ $.Scratch.Set "noBoroughs" 0 }}
{{ $.Scratch.Set "noLanguages" 0 }}
{{ $.Scratch.Set "noPayments" 0 }}

<!--TAXONOMY NO COUNT COUNTING-->
{{ range $pages }}
  {{ with .Params.tags }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end }}
  {{ with .Params.boroughs }}{{ else }}{{ $.Scratch.Add "noBoroughs" 1 }}{{ end }}
  {{ with .Params.languages }}{{ else }}{{ $.Scratch.Add "noLanguages" 1 }}{{ end }}
  {{ with .Params.payment_types }}{{ else }}{{ $.Scratch.Add "noPayments" 1 }}{{ end }}
{{ end }}

{{ partial "filter-one.html" (dict "singular" "Tag" "noCount" ($.Scratch.Get "untagged") "allContent" $tags )}}
<hr >

<button class="acc button" onclick="toggleAcc(this)">Boroughs</button>
<div class="panel">
	<button xx class="" id="selectAllBoroughs" onclick="htf.showAll('boroughs')">
	  All Boroughs
	</button>
	{{ range $boroughs }}
	  {{ if .Term }}
	    <button xx class="borough-button" id="borough-{{ .Term | replaceRE "[.]" "_" | urlize }}" onclick="htf.checkFilter('{{ .Term | replaceRE "[.]" "_" | urlize }}', 'borough-')">
	      <span>{{.Term | humanize | title }}</span>
	      <span id="sboroughs-{{ .Term | urlize }}"> -count-</span> | <span id="cboroughs-{{ .Term | urlize }}"> -count-</span>
	    </button>
	  {{ end }}
	{{ end }}
	{{ if gt ( $.Scratch.Get "noBoroughs") 0 }}
	<button xx class="borough-button" id="borough-no-boroughs" onclick="htf.checkFilter('no-boroughs', 'borough-')">
	  No boroughs <span id="sboroughs-no-boroughs"> -count-</span> | <span id="cboroughs-no-boroughs"> -count-</span>
	</button>
	{{ end }}  
</div> 
<hr >

<!--BEGIN: language-->
<button class="acc button" onclick="toggleAcc(this)">Languages</button>
<div class="panel">
	<button xx class="" id="selectAllLanguages" onclick="htf.showAll('languages')">
	  All Languages
	</button>
	{{ range $languages }}
	  {{ if .Term }}
	    <button xx class="language-button" id="language-{{ .Term | replaceRE "[.]" "_" | urlize }}" onclick="htf.checkFilter('{{ .Term | replaceRE "[.]" "_" | urlize }}', 'language-')">
	      <span>{{.Term | humanize | title }}</span>
	      <span id="slanguages-{{ .Term | urlize }}"> -count-</span> | <span id="clanguages-{{ .Term | urlize }}"> -count-</span>
	    </button>
	  {{ end }}
	{{ end }}
	{{ if gt ( $.Scratch.Get "noLanguages") 0 }}
	<button xx class="language-button" id="language-no-languages" onclick="htf.checkFilter('no-languages', 'language-')">
	  No languages <span id="slanguages-no-languages"> -count-</span> | <span id="clanguages-no-languages"> -count-</span>
	</button>
	{{ end }}   
</div>
<hr >
<!--END: language-->

<!--BEGIN: payment types-->
<button class="acc button" onclick="toggleAcc(this)">Payment types</button>
<div class="panel">
	<button xx class="" id="selectAllPayments" onclick="htf.showAll('payments')">
	  All Payment types
	</button>
	{{ range $payments }}
	  {{ if .Term }}
	    <button xx class="payment-button" id="payment-{{ .Term | replaceRE "[.]" "_" | urlize }}" onclick="htf.checkFilter('{{ .Term | replaceRE "[.]" "_" | urlize }}', 'payment-')">
	      <span>{{.Term | humanize | title }}</span>
	      <span id="spayments-{{ .Term | urlize }}"> -count-</span> | <span id="cpayments-{{ .Term | urlize }}"> -count-</span>
	    </button>
	  {{ end }}
	{{ end }}
	{{ if gt ( $.Scratch.Get "noPayments") 0 }}
	<button xx class="payment-button" id="payment-no-payments" onclick="htf.checkFilter('no-payments', 'payment-')">
	  No payment types <span id="spayments-no-payments"> -count-</span> | <span id="cpayments-no-payments"> -count-</span>
	</button>
	{{ end }}
</div>
<hr >
<!--END: payment types-->

<!--BEGIN: ADA compliance-->
<button class="acc button" onclick="toggleAcc(this)">ADA Compliance</button>
<div class="panel">
	<button xx id="selectAllADAcompliants" onclick="htf.showAll('ADAcompliants')">
	  All Compliances
	</button>
	{{ range $.Scratch.Get "ADAcompliants" }}
	  <button xx class="ADAcompliant-button" id="ADAcompliant-{{ . | replaceRE "[.]" "_" | urlize }}" onclick="htf.checkFilter('true', 'ADAcompliant-')">
	    {{ . }} <span id="sADAcompliants-{{ . | replaceRE "[.]" "_" | urlize }}"> -count-</span> | <span id="cADAcompliants-{{ . | replaceRE "[.]" "_" | urlize }}"> -count-</span>
	  </button>
	{{ end }}
	{{ if gt ( $.Scratch.Get "notADAcompliants") 0 }}
	<button xx class="ADAcompliant-button" id="ADAcompliant-false" onclick="htf.checkFilter('false', 'ADAcompliant-')">
	  false <span id="sADAcompliants-false"> -count-</span> | <span id="cADAcompliants-false"> -count-</span>
	</button>
	{{ end }}
</div>
<hr>
<!--END: ADA compliant-->
