<div class="modal LangSelectContainer_YHgsG">
  <div class="modal-background"></div>
  <div class="modal-content modalContainer_3yW8T">
    <h1 class="title is-2">Language Selection</h1>
    <div class="globalLang_3KPcm">
      <p>Select the language you want to learn in</p>
      <div data-v-1fb3e2ff="" class="dropdown">
        <div data-v-1fb3e2ff="" class="select is-info">
          <select data-v-1fb3e2ff="">
            <option data-v-1fb3e2ff="" class="dropdown-item activeLink">
              English
            </option>
            <option data-v-1fb3e2ff="" class="dropdown-item normalLink">
              नेपाली
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="vocabLang_KnS9E">
      <p>Select the language to show in glossary</p>
      <div data-v-ec29ae0c="" class="dropdown">
        <div data-v-ec29ae0c="" class="select is-info">
          <select data-v-ec29ae0c="">
            <option data-v-ec29ae0c="" class="dropdown-item activeLink">
              English
            </option>
            <option data-v-ec29ae0c="" class="dropdown-item normalLink">
              नेपाली
            </option>
          </select>
        </div>
      </div>
    </div>
    <button aria-label="save" class="button saveBtn_2MZaZ">Save</button>
  </div>
</div>
