<div class="[ gap-top-500 gap-bottom-500 ]">
	<div class="wrapper">
		<div class="[ key-header ] [ splitter ] ">
			<div>
				<h1>{{ .Params.org }}</h1>
				{{ with .Params.program }}
					<h4>{{ . }}</h4>
				{{ end }}
			</div>
			<aside>
				{{ with .Params.website }}
					<span class="flex-gap" style="--gap-space:0rem;">
						<span class="font_icons text-600">&#xe0e3;</span>
						<a
							href="{{ if not (hasPrefix (lower .) `http`) }}//{{ . }}{{ else }}{{ . }}{{ end }}"
							class="[ button-cube ] [ radius gap-left-300 ] [ no-decoration ]"
							data-variant="ghost"
							target="_blank"
						>
							{{ . }}
						</a>
					</span>
				{{ end }}
				{{ with .Params.email }}
					<span class="flex-gap" style="--gap-space:0rem;">
						<span class="font_icons text-600">&#xe010;</span>
						<a
							href="mailto: {{ . }}"
							class="[ button-cube ] [ radius  gap-left-300 ] [ no-decoration ]"
							data-variant="ghost"
							target="_blank"
						>
							{{ . }}
						</a>
					</span>
				{{ end }}
			</aside>
		</div>
	</div>
	{{ with .Params.tags }}
		<div class="[ overline ] [ gap-top-500 pad-top-500 ] " style="--color:red;">
			<div class="wrapper">
				{{ range . }}
					<span class="button" data-size="pill" data-variant="not-link"
						>{{ . }}</span
					>
				{{ end }}
			</div>
		</div>
	{{ end }}
</div>
