{{ define "main" }}
	{{- partial "index-scripts.html" . -}}
	<div
		class="[  index-blurb flow ] [ gap-top-300 pad-top-900 pad-right-500 pad-bottom-900 pad-left-500 bg-canvas ]"
	>
		<p class="text-500">
			All Asian Americans deserve access to culturally competent mental health
			care. AAF’s goal is to make sure every Asian New Yorker who needs mental
			health care is able to receive it in a language they speak, from providers
			who understand Asian cultures. This directory is meant to help individuals
			and families find a provider to fit their needs, whether that means
			counseling, education, or the many ways that our communities seek mental
			well-being.
		</p>
		<p class="text-400" style="font-style: italic;">
			Disclaimer: The providers in this directory are not managed by AAF, and
			this organization assumes no legal responsibility for the governing of the
			provider or their practice. Information in this directory is self-reported
			by each provider and is not confirmed by AAF.
		</p>
	</div>
	<div
		class="wrapper mhd-tiles gap-top-1000"
		data-layout="reversed"
		data-variant="no-padding"
	>
		<div class="[ display-block sm:display-none width-100 ]">
			{{ partial "search.html" . }}
		</div>
		<div
			class="[ main-filter-col fixed-scrollable ] [ top-500 right-500 bottom-800 left-500 z-2 ]"
			id="main-filter"
		>
			{{ partial "main-filter.html" . }}
		</div>
		<div class="main-body-col">
			{{ partial "main-body.html" . }}
		</div>
	</div>
	<div
		class="[  index-blurb flow ] [ pad-top-900 pad-right-500 pad-bottom-900 pad-left-500 bg-canvas ]"
	>
		<p class="text-500 weight-bold ta-center">
			AAF's Mental Health Directory was made possible with support from
		</p>
		<div class="wrapper" data-variant="narrow">
			<div class="tiles" data-variant="two-per-row">
				<img src="/img/logo/Peloton_logo.png" style="margin-bottom: auto;"/>
				<img src="/img/logo/MotherCabriniLogo.png"/>
			</div>
		</div>
		<p class="text-500 ta-center">and New York State Health Foundation</p>
		<span class="text-400 ta-center">
			<p>We thank our partners for their collaboration:</p>
			<p><a href="https://www.arabamericanny.org/">Arab American Association of New York</a>, <a href="http://www.hamiltonmadisonhouse.org/">Hamilton-Madison House</a></p>
			<p><a href="https://www.kcsny.org/">Korean Community Services of Metropolitan New York</a>, and <a href="http://sapnanyc.org/">Sapna NYC</a></p>
		</span>
	</div>
{{ end }}
